.backgroundImage, body, html{
  background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTSsROxazPLZuiLmhr7XLrsTsyq6xXlRyY9GN35it6nsDkNwnGJSQ) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}